@charset "utf-8";

/**
  form control
 */
.custom-control-input {
  &:focus, &.focus {
    & ~ .custom-control-label::before {
      outline: none;
      box-shadow: none;
    }
  }
}

/**
  breadcrumb
 */
.vu-breadcrumb {
  $color: $gray-500;
  margin: 0;
  .breadcrumb-item a {
    text-decoration: none;
    color: $color;
    &:hover {
      color: darken($color, 20%);
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: $color;
  }
}

/**
  button
 */
.vu-button {
  &:focus, &.focus {
    outline: none;
    box-shadow: none;
  }
  &.btn-link { text-decoration: none; }
  .vu-icon:first-child { margin-right: .1875em; }

  &.btn-round { border-radius: $vu-border-radius-lg; }
  &.btn-circle {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: $vu-border-radius-xl;
    padding: 0;
  }
}

/**
  card
 */
.vu-card {
  .vu-card-action {
    padding: .75rem 1.25rem;
    .vu-button + .vu-button { margin-left: 1rem; }
  }
  .card-body {
    + .vu-card-action { padding-top: 0; }
    .vu-card-action { padding: 0; }
  }

  .vu-card-media:first-child {
    @extend .card-img-top;
  }
  .card-body + .vu-card-media {
    @extend .card-img-bottom;
  }

  > .vu-list {
    @extend .list-group-flush;
  }
}

/**
  dropdown
 */
.vu-dropdown {
  > .dropdown-button {
    display: inline-block;
  }
  > .dropdown-button .vu-button {
    @extend .dropdown-toggle;
  }
  // placement
  &.bottom-right .dropdown-menu {
    @extend .dropdown-menu-right;
  }
}

/**
  icon
 */
.vu-icon {
  /* by color */
  @each $color, $value in $theme-colors {
    &.icon-#{$color} {
      color: $value;
    }
  } // end of color type
}

/**
  pagination
 */
.vu-pagination {
  margin-bottom: 0;
  .page-link:focus {
    outline: none;
    box-shadow: none;
  }
  &.border-none .page-item {
    &.active .page-link {
      color: theme-color("primary");
      background-color: transparent;
    }
    .page-link {
      border: none;
      &:hover {
        background-color: $white;
      }
    }
  }
}

/**
  steps
 */
.vu-step {
  .nav {
    margin-bottom: .5rem;

    .step-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      .step-item-icon {
        color: $white;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
      .step-item-content {
        text-align: center;
        .step-item-description {
          font-size: .9em;
        }
      }
      &:not(.active):not(.done) {
        > .step-item-icon {
          background-color: $secondary;
        }
        > .step-item-content {
          color: lighten($secondary, 10%);
        }
      }
      &.active > .step-item-icon {
        background-color: $primary;
      }
      &.done > .step-item-icon {
        background-color: lighten($primary, 18%);
      }
      + .liner {
        flex: 1 1 0;
        align-self: start;
        margin-top: 28px;
        border: 1px solid #e0e0e0;
      }
    }
  }
}

/**
  tabs
 */
.vu-tab {
  .nav-justified .nav-item {
    flex-basis: auto;
  }

  > .vu-nav.nav-line {
    position: relative;
    &:after {
      content: "";
      border-bottom: 2px solid $gray-200;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    > .vu-nav-item {
      z-index: 1;
      > .nav-link {
        &:not(.disabled) { color: inherit; }
        &.active {
          color: $primary;
          border-bottom: 2px solid $primary;
        }
        &:hover { color: $primary; }
      } // end of '.nav-link'
    } // end of '.vu-nav-item'
  } // end of '.vu-nav.nav-line'

  .tab-content {
    margin-top: 1rem;
  }
}

/**
  tag
 */
.vu-tag {
  &.badge-pill {
    .vu-icon.closable {
      margin-right: -.15rem;
    }
  }
  @each $color, $value in $theme-colors {
    &.outline-#{$color} {
      border: 1px solid transparent;
      @include button-outline-variant($value);
    }
  }
  .vu-icon.closable {
    margin-left: .3rem;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
