@charset "utf-8";

/**
  alert
 */
.vu-alert {
  display: flex;
  > .vu-icon { margin-right: .7rem; }
  > .vu-button.close:hover { background-color: inherit; }
}

/**
  breadcrumb
 */
.vu-breadcrumb {
  margin: 0;
  .breadcrumb-item a {
    text-decoration: none;
    color: $gray-500;
    &:hover {
      color: $gray-600;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: $gray-500;
  }
}

/**
  button
 */
.vu-button {
  &.btn-link { text-decoration: none; }
  .vu-icon:first-child { margin-right: .1875em; }

  &.btn-round { border-radius: $vu-border-radius-lg; }
  &.btn-circle {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: $vu-border-radius-xl;
    padding: 0;
  }
}

/**
  card
 */
.vu-card {
  .vu-card-action {
    padding: .75rem 1.25rem;
    .vu-button + .vu-button { margin-left: 1rem; }
  }
  .card-body {
    + .vu-card-action { padding-top: 0; }
    .vu-card-action { padding: 0; }
  }

  + .vu-card-media {
    @extend .card-img-top;
  }
  .card-body + .vu-card-media {
    @extend .card-img-bottom;
  }
}

/**
  icon
 */
.vu-icon {
  /* by color */
  @each $color, $value in $theme-colors {
    &.icon-#{$color} {
      color: $value;
    }
  } // end of color type
}

/**
  progress
 */
.vu-progress {
  height: 1rem;
  //.progress-bar {
  //  text-align: right;
  //  padding-right: .3rem;
  //}
}
