@charset "utf-8";

/**
  alert
 */
.vu-alert {
  display: flex;
  > .vu-icon { margin-right: .7rem; }
  > .vu-button.close:hover { background-color: inherit; }
}

/**
  avatar
 */
.vu-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &, img {
    @extend .rounded-circle;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/**
  badge
 */
.vu-badge {
  position: relative;
  display: inline-block;

  .vu-tag {
    position: absolute;
    &.top-right { transform: translateY(-50%) translateX(100%); }
    &.top-left { transform: translateY(-50%) translateX(-100%); }

    &:not(.overlap) {
      top: 0;
      &.top-right { right: 0 };
      &.top-left { left: 0 };
    }
    &.overlap {
      top: 3px;
      &.top-right { right: 11px; };
      &.top-left { left: 11px; };
    }
  }
}

/**
  breadcrumb
 */
.vu-breadcrumb {
  margin: 0;
  .breadcrumb-item a {
    text-decoration: none;
    color: $gray-500;
    &:hover {
      color: $gray-600;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: $gray-500;
  }
}

/**
  button
 */
.vu-button {
  &.btn-link { text-decoration: none; }
  .vu-icon:first-child { margin-right: .1875em; }

  &.btn-round { border-radius: $vu-border-radius-lg; }
  &.btn-circle {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: $vu-border-radius-xl;
    padding: 0;
  }
}

/**
  card
 */
.vu-card {
  .vu-card-action {
    padding: .75rem 1.25rem;
    .vu-button + .vu-button { margin-left: 1rem; }
  }
  .card-body {
    + .vu-card-action { padding-top: 0; }
    .vu-card-action { padding: 0; }
  }

  .vu-card-media:first-child {
    @extend .card-img-top;
  }
  .card-body + .vu-card-media {
    @extend .card-img-bottom;
  }

  > .vu-list {
    @extend .list-group-flush;
  }
}

/**
  dropdown
 */
.vu-dropdown {
  > .dropdown-button .vu-button {
    @extend .dropdown-toggle;
  }
}

/**
  icon
 */
.vu-icon {
  /* by color */
  @each $color, $value in $theme-colors {
    &.icon-#{$color} {
      color: $value;
    }
  } // end of color type
}

/**
  pagination
 */
.vu-pagination {
  margin-bottom: 0;
  .page-link:focus {
    outline: none;
    box-shadow: none;
  }
  &.border-none .page-item {
    &.active .page-link {
      color: theme-color("primary");
      background-color: transparent;
    }
    .page-link {
      border: none;
      &:hover {
        background-color: $white;
      }
    }
  }
}

/**
  progress
 */
.vu-progress {
  height: 1rem;
  //.progress-bar {
  //  text-align: right;
  //  padding-right: .3rem;
  //}
}

/**
  steps
 */
.vu-step {
  .nav {
    margin-bottom: .5rem;

    .step-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      .step-item-icon {
        color: $white;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
      .step-item-content {
        text-align: center;
        .step-item-description {
          font-size: .9em;
        }
      }
      &:not(.active):not(.done) {
        > .step-item-icon {
          background-color: $secondary;
        }
        > .step-item-content {
          color: lighten($secondary, 10%);
        }
      }
      &.active > .step-item-icon {
        background-color: $primary;
      }
      &.done > .step-item-icon {
        background-color: lighten($primary, 18%);
      }
      + .liner {
        flex: 1 1 0;
        align-self: start;
        margin-top: 28px;
        border: 1px solid #e0e0e0;
      }
    }
  }
  //> .nav {
  //
  //  .nav-item {

  //  }
  //}
}

/**
  tabs
 */
.vu-tab {
  .nav-justified .nav-item {
    flex-basis: auto;
  }

  > .vu-nav.nav-line {
    position: relative;
    &:after {
      content: "";
      border-bottom: 2px solid $gray-200;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    > .vu-nav-item {
      z-index: 1;
      > .nav-link {
        &:not(.disabled) { color: inherit; }
        &.active {
          color: $primary;
          border-bottom: 2px solid $primary;
        }
        &:hover { color: $primary; }
      } // end of '.nav-link'
    } // end of '.vu-nav-item'
  } // end of '.vu-nav.nav-line'

  .tab-content {
    margin-top: 1rem;
  }
}

/**
  tag
 */
.vu-tag {
  &.badge-pill {
    .vu-icon.closable {
      margin-right: -.15rem;
    }
  }
  .vu-icon.closable {
    margin-left: .3rem;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
