//===================================================================
// custom variables

// border radius
$vu-border-radius-xs  : .12rem;
$vu-border-radius-sm  : .25rem;
$vu-border-radius-md  : 1.58rem;
$vu-border-radius-lg  : 3.12rem;
$vu-border-radius-xl  : 5rem;

